<h1>Pages#bienvenido</h1>
<p>Find me in app/views/pages/bienvenido.html.erb</p>

<%= link_to 'Agrega Tarea', new_tarea_path %>

<p>
Tu tienes <%= @numerotarea %>
</p>
<ul>
<% @tareas.each do |t| %>

	<li> <%= t.contenido %> | <%= time_ago_in_words(t.created_at) %> | 
		<%= link_to 'Borrar Tarea', t, data: {confirm: "Quieres Borrar?" }, method: :delete %> |
		<%= link_to 'Modificar Tarea', edit_tarea_path(t) %> </li>

<% end %>