<div class="container">
	<div class="row">
		<div class="col-lg-12">
<h1>Pages#bienvenido</h1>
<p>Find me in app/views/pages/bienvenido.html.erb</p>

<% if user_signed_in? %>
<%= link_to 'Agrega Tarea', new_tarea_path %>
<% end %>
<p>
Tu tienes <%= @numerotarea %> tareas
</p>
<ul>
<% @tareas.each do |t| %>

	<li> <%= t.contenido.truncate(10) %> por <%= t.user.email %> | <%= time_ago_in_words(t.created_at) %> 
		<% if user_signed_in? %>
		| <%= link_to 'Muestarme Tarea', tarea_path(t) %> |
			<% if current_user == t.user %>
			
			<%= link_to 'Borrar Tarea', t, data: {confirm: "Quieres Borrar?" }, method: :delete %> |
			<%= link_to 'Modificar Tarea', edit_tarea_path(t) %>

			<% end %> 
		<% end %>
	</li>

<% end %>

		</div>
	</div>
</div>