<!DOCTYPE html>
<html>
<head>
  <title>Primerapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navbar' %>
<%= render 'shared/messages_devise' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
